body{
    margin: 0px;
    background-color: #0c1027;
}
body::-webkit-scrollbar {
    display:none ;
}
header{
    background-color: #0c1027;
    box-shadow:  0px 11px 13px 4px #101642;
    position:sticky;
    top:0px;
    border-radius: 8px;
    align-items: center;
    display:flex;
    z-index: 30;
    justify-content: space-between;
}
/* nav bar  */
.nav-left,.nav-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-left{
    width:40%;
}
.nav-right{
    width:60%;
    justify-content: end;
}
.header-logo img{
    margin-left:30px;
    height:50px;
    width: 50px;
    border-radius: 25%;
    animation-iteration-count: infinite;
}
.header-logo{
    
    margin-right: 10px;
    width:80px;
}
.site-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-name h4{
    font-size:15px ;
    color: white;
    font-family:sans-serif;
    font-weight: 300;
}
.fav{
    margin:3px 20px;
    color: white;
    font-family:sans-serif;
    font-weight: 400;
}
.fa-search,.fa-bell{
    margin-top:3px;
    margin-left:10px;
    color:#ffffff;
}
.fa-microphone{
    margin:0px 15px;
    color:#93a8b3;
}

.search{
    margin-right:40px;
    max-height:35px;
    width:30%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #12193e;
}
.search div{
    width:auto;
}
.search input{
    color: white;
    width: 100%;
    margin:3px;
    padding:6px;
    outline:none ;
    font-size: 15px;
    background: none;
    border: none;
}
.red-dot{
    position:relative;
    right:-19px;
    top:-17px;
    background-color: red;
    height:6px;
    width: 6px;
    border-radius: 50%;
}
.profile{
    margin-left:40px;
    margin-right: 50px;
    position:relative;
    width:50px;
    display:flex;
    right:0px;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* nav bar end  */
main{
    display:flex;
    justify-content: space-between;
}
/* aside section  */
aside {
    position:fixed;
    background-color: #0c1027;
    right:0px;
    width: 20%;
    padding-left: 10px;
    margin-left: 15px;
    margin-right: 50px;
    border-left: 2px solid white;
    float: right;
    color: #ffffff;
    font-family:sans-serif ;
}
.queue-headings{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
}
.queue-headings label{
    margin-right: 20px;
}
.queue-headings h3{
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 400;
}
.queue-caret-toggle{
    position: absolute;
    top:45px;
    right:10px;
    background-color: white;
    height: 0px;
    width: 0px;
    overflow: hidden;
}
#que{
    display:none;
}
#que:checked~ .queue-caret-toggle{
    width: 104.71px;
    height: 62px;
}
.queue-caret-toggle h5 {
    margin:4px;
    font-weight: 400;
    color:black;
}
.ol-queue{
    padding-left: 10px;
    margin-top: 0px;
    height:503px;
    overflow:scroll;
}
.items{
    margin:10px 5px 10px 5px;
    padding-right: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.items i{
    color:white;
    margin-right: 3px;
}
.items h5,h6{
    margin:2px;
    font-weight:400;
}
.items h6{
    color:#808080;
}
.items img{
    height:40px;
    width:40px;
    margin:3px 10px 3px 5px;
    border-radius: 3px;
}
.items-start{
    display:flex;
    align-items: center;
}
.items:hover{
    background-color: white;
}
.items:hover .name-artist h5{
    color: black;
}
.items:hover i{
    color: black;
}
.ol-queue::-webkit-scrollbar{
    display:none;
}
/* aside queue rules end  */


/* content */
.content{
    width:65%;
    margin-left: 80px;
    margin-top: 60px;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
/* carousel  */
.carousel{
    display:flex;
    width:98%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carousel-item{
    display:flex;
    align-items: center;
    justify-content: center;
    height:250px;
    width:250px;
    margin:25px;  
}
.carousel-item img{
    height:220px;
    width:220px;
    transition:all .3s ease-in-out;
}

.carousel-item img:hover{
    height:270px;
    width:270px;
    box-shadow: 0px 0px 10px 4px white;
}

/* latest release */
.latest-releases{
    margin-bottom: 40px;;
    margin-left: 40px;
    
    color: white;
}
.latest-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latest-item{
    border-radius: 5px;
    margin:10px;
    padding-right: 40px;
    display:flex;
    justify-content: space-between;
    width:300px;
    min-width: 200px;
    transition: all 0.3s ease-in-out;
}

.latest-item:hover{
    background-color: rgb(255, 255, 255);
}
.latest-item:hover .name-date{
    color:black;
}
.latest-item:hover .dot-time h6{
    color:black;
}
.latest-item:hover .dot-time i{
    color:black;
}
.pic-name-date{
    display:flex;
    justify-content: space-between;
}
.pic img{
    margin-left: 4px;
    margin-top: 4px;
    height: 100px;
    width: 100px;
}
.dot-time{
    margin-top:10px
}
.name-date h5{
    margin:4px;
    margin-top: 15px;
}
/* dots toggle-menu-1  */
#dialog-menu-1{
    color:black;
    background-color: white;
    height:0px;
    position:absolute;
    width: 0px;
    top:0px;
    left:0px;
    overflow:hidden;
    z-index: 20;
    border:1px solid black;
}
#dialog1:checked~#dialog-menu-1{
    height:auto;
    width:auto;
    top:533px;
    left:273px;
}
.checkbox{
    display:none;
} 
#dialog-menu-1 h5{
    font-weight: 300;
    margin: 7px;
}
/* dots toggle-menu-2 */
#dialog-menu-2{
    color:black;
    background-color: white;
    height:0px;
    position:absolute;
    width: 0px;
    top:0px;
    left:0px;
    overflow:hidden;
    z-index: 20;
    border:1px solid black;
}
#dialog2:checked~#dialog-menu-2{
    height:auto;
    width:auto;
    top:533px;
    left:849px;
}
.checkbox{
    display:none;
} 
#dialog-menu-2 h5{
    font-weight: 300;
    margin: 7px;
}
/* dots toggle-menu-3 */
#dialog-menu-3{
    color:black;
    background-color: white;
    height:0px;
    position:absolute;
    width: 0px;
    top:0px;
    left:0px;
    overflow:hidden;
    z-index: 20;
    border:1px solid black;
}
#dialog3:checked~#dialog-menu-3{
    height:auto;
    width:auto;
    top:663px;
    left:273px;
}
.checkbox{
    display:none;
} 
#dialog-menu-3 h5{
    font-weight: 300;
    margin: 7px;
}
/* dots toggle-menu 4 */
#dialog-menu-4{
    color:black;
    background-color: white;
    height:0px;
    position:absolute;
    width: 0px;
    top:0px;
    left:0px;
    overflow:hidden;
    z-index: 20;
    border:1px solid black;
}
#dialog4:checked~#dialog-menu-4{
    height:auto;
    width:auto;
    top:663px;
    left:849px;
}
.checkbox{
    display:none;
} 
#dialog-menu-4 h5{
    font-weight: 300;
    margin: 7px;
}
/* latest releases end  */


/* popular artists */
.popular-artist{
    margin-left:40px;
    margin-bottom: 40px;
}
.popular-artist h3{
    color:white;
    font-weight: 400;
}
.artists{
    display:flex;
    flex-wrap: wrap;
}
.popular-artist-item img{
    height:125px;
    width: 125px;
    border-radius: 50%;
    margin:15px 10px 0 10px;
}
.popular-artist-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
}
.popular-artist-item h4{
    margin:7px;
    color:white;
    font-weight: 400;
}

.hover-icon i{
    position:relative;
    top:56px;
    left:56px;
    color:white;
    opacity: 0;
    transition-delay: 0.2s;
}
.hover-icon{
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin:15px 10px 0 10px;
    transition: all 0.2s ease-in;
    transition-delay: 0.1s;
}
.hover-icon:hover{
    background-color: #c7c4c446; 
    box-shadow: 0px 0px 10px 2px white;
}
.hover-icon:hover i{
    opacity: 1 !important;
}
.artists a{
    text-decoration: none;
}
/* popular artist end  */
/* stations */
.stations{
    margin-left:40px ;
    padding:10px;
    display:flex;
    background-color: #101642;
    flex-wrap: wrap;
}
.station-logo img{
    height:120px;
    width:155px;

}
.station-item{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    border-radius: 50%;
    overflow: hidden;
    margin:10px;
    box-shadow: 0px 0px 10px 3px white;
}
.item-1{
    background-size: cover;
    background-image: url("https://c.saavncdn.com/editorial/Romantic_saavn_radio_20201012144137_150x150.jpg");
}
.item-2{
    background-size: cover;
    background-image: url("https://c.saavncdn.com/editorial/Rock_saavn_radio_20201012143110_150x150.jpg");
}
.item-3{
    background-size: cover;
    background-image: url("https://c.saavncdn.com/editorial/Workout_saavn_radio_20201012143447_150x150.jpg");
}
.item-4{
    background-size: cover;
    background-image: url("https://c.saavncdn.com/editorial/Pop_saavn_radio_20201012143651_150x150.jpg");
}
.item-5{
    background-size: cover;
    background-image: url("https://c.saavncdn.com/editorial/Chill_saavn_radio_20201012143915_150x150.jpg");
}
.item-6{
    background-size:cover;
    background-image: url("https://c.saavncdn.com/editorial/Piano_saavn_radio_20210528084128_150x150.jpg");
}

.station-item h4{
    color: white;
    font-weight: 400;
}
/* stations end  */


/* category  */
.category{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.category-item{
    margin: 15px;
    width:278px;
    height:154px;
    overflow:hidden;
    
}
.category-item img{
    height:154px;
    width: 278px;
    transition:all 0.2s ease-in-out;
}
.category-item h2{
    position:relative;
    left:100px;
    top: -111px;
    color: white;
    font-weight: 600;
}
.category-item:hover img{
    transform:scale(1.3);
}
/* category end  */


/* latest english */
.latest-hindi-english{
    margin-left:40px;
}
.latest-hindi-english h3{
    color:white;
    font-weight: 400;
}
.latest-english,.latest-hindi{
    
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
}
.image-div img{
    height:125px;
    width: 125px;
    margin:4px;
    border-radius: 5px;
}
.image-div{
    width:133px;
    height:137px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
      
}
.image-div:hover{
    height:194px;
    background-color:rgba(255, 255, 255);
}
.image-div:hover .name-date-latest{
    color:black;
    font-weight: 600;
}
.latest-english-item,.latest-hindi-item{
    height:195px;
    margin:8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.name-date-latest{
    z-index: 2;
    color:white;
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.name-date-latest h5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 400;
}
/* flag rules for responsivity of aside section  */
.flag-queue{
    position:fixed;
    top:21px;
    right:0px;
    background-color: #0c1027;
    height:30px;
    width:80px;
    border:2px solid white;
    display:none;
    border-radius: 5px;
    z-index: 40;
}
.flag-queue a{
    color:white;
    text-decoration: none;
}
.flag-queue i{
    margin:0px 7px;
}
/* flag rules end  */


/* footer  */
.player{
    background-color: #282828;
    height:80px;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    height: 60px;
    margin-left: 20px;
}
.photo img{
    height:60px;
    width: 60px;
}
.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
}
.details h4,.details h5{
    color:lightgray;
    margin:3px;
    font-weight: 400;
}
.heart-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}
.heart-block i{
    margin:5px;
}
.mid{
    width:75%;
    min-width: 150px;
    display:flex;
	justify-content:center;
	align-items:center;
    flex-direction: column;
}
.controls{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.controls i{
    color:lightgray;
}
.slidecontainer{
    width:90%;
    display:flex;
	justify-content:center;
	align-items:center;
    min-width: 150px;
}
.slidecontainer span{
    color:white;
    font-size: 10px;
}
.slider {
    width: 90%;
    height: 5px;
    border-radius: 5px;  
    background: #404040;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: white !important;
    cursor: pointer;
  }
  .right{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .right i{
      color:white;
      margin:15px;
  }
  .fa-volume-up{
      margin-right:10px !important;
  }
  .slider-vol {
    width: 70%;
    height: 5px;
    border-radius: 5px;  
    background: #404040;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider-vol::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: white !important;
    cursor: pointer;
  }
  /* footer ends  */
  /* media queries  */
@media screen and (max-width: 1190px){
    .profile{
        margin-right: 85px;
    }
    .content{
        width:100%;
    }
    aside{
        display:none;
    }
    .flag-queue{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #aside:target{
        border-top:2px solid white ;
        position: fixed;
        display:block;
        width:305px;
        margin-right: 0px;
    }
    .content{
        margin-left: 20px;
    }
    .carousel{
        margin-left: 40px;
    }
}

@media screen and (max-width: 733px){
    .site-name {
        display:none;
    }
    header{
        height:75.1px;
    }
    .search{
        margin-right: 0px;
    }
    .profile{
        margin-left: 10px;
    }
    .right i{
        margin:3px;
    }
}
@media screen and (max-width: 600px)
{
    
    .details{
        margin-right: 0px;
    }
    .photo{
        margin-left: 0px;
    }
}
@media screen and (max-width: 586px){
    .nav-right{
        width:80%;
    }
    .nav-left{
        width:20%;
    }
}
@media screen and (max-width: 510px){
    .carousel,.latest-releases,.popular-artist,.latest-hindi-english,.stations{
        margin-left:10px;
    }
}
